<div class="container">
  <mdc-search-container
    [textBoxPlaceholder]="'Enter Search Term'"
    [liveFilter]="false"
    [showFiltersButton]="true"
    (onSetTitleFilter)="setTitleFilter($event)"
    (setMonthFilter)="filterByMonth($event)"
    (setYearFilter)="filterByYear($event)"
    [years]="years$"
    [months]="months$"
  ></mdc-search-container>

  <ng-container *ngIf="files$ | async as files">
    <mdc-file-list
      [fileList]="files"
      [term]=""
      [selectedYear]=""
      [selectedMonth]=""
    ></mdc-file-list>
  </ng-container>
</div>
