<div class="container">
  <mdc-search-container
    [textBoxPlaceholder]="'Enter Search Term'"
    [liveFilter]="false"
    [showFiltersButton]="true"
    (onSetTitleFilter)="setTitleFilter($event)"
    [years]="years$ | async"
    [currentSelectedTypes$]="currentSelectedYears$ | async"
    [currentSelectedCategories$]="currentSelectedMonths$ | async"
  ></mdc-search-container>

  <mdc-file-list
    [fileList]="files$ | async"
    [term]=""
    [selectedYear]=""
    [selectedMonth]=""
  ></mdc-file-list>
</div>
