<div class="search">
  <!-- Show Filters Button -->
  <mdc-show-filters [showFiltersToggle]="showFiltersToggle"
    [showFiltersButton]='true'
    [targetSize]="'desktop'"
    (onShowFilters)="showFilters($event)"></mdc-show-filters>
  <!-- End Show Filters Button -->

  <!-- Filter Container -->
  <mdc-filter-list-container [showFiltersToggle]="showFiltersToggle"
    [options1]="years"
    [options2]="months"
    [currentSelectedCategories$]="currentSelectedCategories$"
    [currentSelectedTypes$]="currentSelectedTypes$"
    (onShowFilters)="showFilters($event)"
    (yearSelected)="onYearSelected($event)"
    (monthSeleted)="onMonthSelected($event)"
    (onClearFilters)="clearFilters()">
  </mdc-filter-list-container>
  <!-- End Filter Container -->

  <mdc-text-box-filter [titleFilter]="titleFilter$ | async"
    [placeholderText]="textBoxPlaceholder"
    (onFilterByTitle)="setTitleFilter($event)"
    (onFilterByPressingEnter)="updateTitleFilter()">
  </mdc-text-box-filter>

  <!-- This is the search button with icon. I'm leaving this in case Jaime decides she wants it. -->

  <mdc-search-button [liveFilter]="liveFilter"
    (onUpdate)="updateTitleFilter()">
  </mdc-search-button>

  <!-- This is the search button with icon. I'm leaving this in case Jaime decides she wants it. -->
</div>


<mdc-selected-filters [combinedFilters$]="combinedFilters$"
  [selectedFilters$]="selectedFilters$"
  (onRemoveFilter)="removeFilter($event)"
  (onClearFilters)="clearFilters()">
</mdc-selected-filters>

<!-- Show Filters Button -->
<mdc-show-filters [showFiltersToggle]="showFiltersToggle"
  [targetSize]="'mobile'"
  (onShowFilters)="showFilters($event)">
</mdc-show-filters>
<!-- End Show Filters Button -->
