<div class="searchContainer">
  <div class="search">
    <!-- Show Filters Button -->
    <mdc-show-filters [showFiltersButton]="showFiltersButton"
      [showFiltersToggle]="showFiltersToggle"
      [targetSize]="'desktop'"
      (onShowFilters)="showFilters($event)"></mdc-show-filters>
    <!-- End Show Filters Button -->

    <!-- Filter Container -->
    <mdc-filter-list-container [showFiltersToggle]="showFiltersToggle"
      [years$]="years | async"
      [months$]="months | async"
      [currentSelectedMonth$]="currentSelectedMonthSubject"
      [currentSelectedYear$]="currentSelectedYearSubject"
      (onShowFilters)="showFilters($event)"
      (yearSelected)="onYearSelected($event)"
      (monthSelected)="onMonthSelected($event)"
      (onClearFilters)="clearFilters()">
    </mdc-filter-list-container>
    <!-- End Filter Container -->

    <mdc-text-box-filter [titleFilter]="titleFilter$ | async"
      [placeholderText]="textBoxPlaceholder"
      (onFilterByTitle)="setTitleFilter($event)"
      (onFilterByPressingEnter)="updateTitleFilter()">
    </mdc-text-box-filter>

    <!-- This is the search button with icon. I'm leaving this in case Jaime decides she wants it. -->

    <mdc-search-button [liveFilter]="liveFilter"
      [searchTerm]="titleFilter$ | async"
      (onUpdate)="updateTitleFilter()">
    </mdc-search-button>

    <!-- This is the search button with icon. I'm leaving this in case Jaime decides she wants it. -->
  </div>
</div>

<mdc-selected-filters [combinedFilters$]="combinedFilters$"
  [selectedFilters$]="selectedFilters$"
  (onRemoveFilter)="removeFilter($event)"
  (onClearFilters)="clearFilters()">
</mdc-selected-filters>

<!-- Show Filters Button -->
<mdc-show-filters [showFiltersToggle]="showFiltersToggle"
  [targetSize]="'mobile'"
  (onShowFilters)="showFilters($event)">
</mdc-show-filters>
<!-- End Show Filters Button -->
