
:host {
    display: flex;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.btn-custom--blue {
	background-color: #027abb;
}

.btn-custom--blue:hover,
.btn-custom--blue:focus {
	background-color: #03a9f4;
}

.search__button {
    min-height: 60px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search__button:hover,
.search__button:focus {
  background-color: #03a9f4;
}



.search__item {
	min-height: 60px;
}

.search_button-svg {
  height: 15px;
  width: 15px;
}
