<p *ngFor="let option of options">
  <!-- Looking at the currentSelectedOptions array and setting checked to true if the option isn't part of the list. This keeps the use from selecting multiple options. -->
  <input
    ngClass="filled-in"
    type="checkbox"
    id="{{ option.value }}"
    name="{{ option.value }}"
    value="{{ option.value }}"
    [checked]="
      currentSelectedOptions !== null &&
      currentSelectedOptions.indexOf(option.value) !== -1
    "
    (click)="selectOption($event)"
  />
  <label for="{{ option.value }}">{{ option.label }}</label>
</p>
