<ng-container *ngIf="filterOptions$ | async as filterOptions">
  <ng-container *ngIf="displayItem">
    <ng-container *ngIf="filterOptions as options">
      <section
        role="region"
        aria-labelledby="selectedFiltersTitle"
        class="selected-filters"
      >
        <h2 id="selectedFiltersTitle" class="selected-filters__main-title">
          Selected Filters
        </h2>

        <ng-container *ngFor="let option of options">
          <div
            *ngIf="!!option"
            (click)="removeFilter(option.value)"
            class="chip selected-filters--blue"
          >
            {{ option.label }}
            <button
              type="button"
              (click)="removeFilter(option.value)"
              class="selected-filters__clear-current"
              aria-label="Clear Filter"
            >
              <span aria-hidden="true">X</span>
            </button>
          </div>
        </ng-container>

        <button
          type="button"
          (click)="clearFilters()"
          class="selected-filters__clear-all"
        >
          Clear Filters
        </button>
      </section>
    </ng-container>
  </ng-container>
</ng-container>
