/**********************
    SELECT STYLES
***********************/
select {
  height: 40px;
  border: 1px solid #bbb;
}

select.browser-default.sort-select__select:focus {
  outline-offset: 4px !important;
  outline: 3px dotted #baa20a !important;
}
